# **MACHINE LEARNING**

Predict the "fuel-type" of cars from the given dataset

In [0]:
import pandas as pd
import numpy as np

In [0]:
url1 = "https://raw.githubusercontent.com/reubence/Google-DSC-Workshop-2020/master/datasets/Automobile_data.csv"
data = pd.read_csv(url1)

In [0]:
data.head()

   symboling normalized-losses         make  ... city-mpg highway-mpg  price
0          3                 ?  alfa-romero  ...       21          27  13495
1          3                 ?  alfa-romero  ...       21          27  16500
2          1                 ?  alfa-romero  ...       19          26  16500
3          2               164         audi  ...       24          30  13950
4          2               164         audi  ...       18          22  17450

[5 rows x 26 columns]

In [0]:
data.isnull().values.any() #Checking if there are any NULL values

False

In [0]:
missing_values = ["?"]
data1 = pd.read_csv(url1, na_values = missing_values)
data1.head()

   symboling  normalized-losses         make  ... city-mpg highway-mpg    price
0          3                NaN  alfa-romero  ...       21          27  13495.0
1          3                NaN  alfa-romero  ...       21          27  16500.0
2          1                NaN  alfa-romero  ...       19          26  16500.0
3          2              164.0         audi  ...       24          30  13950.0
4          2              164.0         audi  ...       18          22  17450.0

[5 rows x 26 columns]

In [0]:
data1.isnull().mean() * 100 #Sometimes we want to get an overview of how much % of the dataset is actually missing

symboling             0.00000
normalized-losses    20.00000
make                  0.00000
fuel-type             0.00000
aspiration            0.00000
num-of-doors          0.97561
body-style            0.00000
drive-wheels          0.00000
engine-location       0.00000
wheel-base            0.00000
length                0.00000
width                 0.00000
height                0.00000
curb-weight           0.00000
engine-type           0.00000
num-of-cylinders      0.00000
engine-size           0.00000
fuel-system           0.00000
bore                  1.95122
stroke                1.95122
compression-ratio     0.00000
horsepower            0.97561
peak-rpm              0.97561
city-mpg              0.00000
highway-mpg           0.00000
price                 1.95122
dtype: float64

In [0]:
data["normalized-losses"].value_counts()
#there are ? as missing values

?      41
161    11
91      8
150     7
128     6
104     6
134     6
168     5
65      5
74      5
94      5
95      5
85      5
103     5
102     5
122     4
106     4
93      4
118     4
148     4
137     3
154     3
101     3
125     3
115     3
83      3
119     2
81      2
158     2
89      2
108     2
188     2
197     2
164     2
194     2
153     2
145     2
192     2
110     2
129     2
113     2
87      2
107     1
77      1
121     1
142     1
90      1
98      1
231     1
78      1
186     1
256     1
Name: normalized-losses, dtype: int64

In [0]:
data1.isnull().sum() #Here we are checking NULL values column-wise

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [0]:
data1['bore'] = data1['bore'].fillna(data1['bore'].median())

In [0]:
data1['horsepower'] = data1['horsepower'].fillna(data1['horsepower'].median())

In [0]:
data1['stroke'] = data1['stroke'].fillna(data1['stroke'].median())

In [0]:
data1['peak-rpm'] = data1['peak-rpm'].fillna(data1['peak-rpm'].median())

In [0]:
data1['price'] = data1['price'].fillna(data1['price'].median())

In [0]:
numeric = data1.select_dtypes(include = ['object']).columns.tolist() 
numeric

['make',
 'fuel-type',
 'aspiration',
 'num-of-doors',
 'body-style',
 'drive-wheels',
 'engine-location',
 'engine-type',
 'num-of-cylinders',
 'fuel-system']

In [0]:
X= pd.get_dummies(data = data1, columns = numeric)
# X.drop("fuel-type")
X.head()
#One-Hot-Encoding the variables

   symboling  normalized-losses  ...  fuel-system_spdi  fuel-system_spfi
0          3                NaN  ...                 0                 0
1          3                NaN  ...                 0                 0
2          1                NaN  ...                 0                 0
3          2              164.0  ...                 0                 0
4          2              164.0  ...                 0                 0

[5 rows x 76 columns]

**Handling the Imbalance**

In [0]:
from sklearn.model_selection import train_test_split as tts

In [0]:
X_train, X_test, y_train, y_test = tts(X, Y, test_size=0.3, random_state=42)